#main {
  margin-top: 100px;
  width: 100%;
}

#content {
  width: 100%;
  margin: 0 auto;
}

.menu_wrap {
  width: 100%;
  margin: 0 auto;
  position:relative;
}

.menu_title_box {
  width: 100%;
  height: 320px;
  background-image: url(../images/list_title_img_001.png);
  background-size:cover;
}

.menu_title {
  display: block;
  width: 100%;
  height: 200px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0px 0px 20px;
  font-size: 70px;
  font-weight: normal;
}

.menu_title_comment {
  width: 100%;
  color: #fff;
  font-size: 16px;
  text-align: center;
}


.menu_cate {
  display: flex;
  justify-content: center;
  width: 1140px;
  height: 80px;
  line-height: 80px;
  background-color: #fff;
  position: absolute;
  top: 280px;
  left: 50%;
  transform:translate(-50%,0%);
  box-shadow: 0px 4px 4px -4px #666;
}
.menu_cate li {
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 0px 24px;
  position: relative;
}

.cate_item {
  color: #666;
}
.cate_select {
  color: #226140;
}

.menu_cate li:hover {
  color: #226140;
  transition-duration: .6s;
}

.menu_cate li:nth-of-type(1)::after,
.menu_cate li:nth-of-type(2)::after,
.menu_cate li:nth-of-type(3)::after,
.menu_cate li:nth-of-type(4)::after {
  content: '';
  width: 1px;
  height: 16px;
  background-color: #ddd;
  position:absolute;
  right: 0px;
  top: 34px;
}

.menu_list {
  width: 1140px;
  display: flex;
  flex-wrap:wrap;
  margin: 0px auto;
  padding: 100px 0px;
}



.product {
  display: flex;
  width: 360px;
  justify-content: left;
  height: 320px;
  background-color: #fff;
  margin: 0px 10px 30px 10px;
  position:relative;
}

/* li:nth-child(3n)
{
  margin-right: 0;
} */


.prd_before_wrap,
.prd_after_wrap {
  width: 360px;
  height: 320px;
  text-align: center;
  
}

.prd_before_wrap {
  z-index: 2;
}

.prd_after_wrap {
  z-index: 3;
  position:absolute;
  top:0px;
  left: 0px;
  padding: 30px;
  background-color: #226140;
}


.prd_view_off {
  visibility: visible;
  z-index: 1;
  opacity: 0;
}

.prd_img {
  display: block;
  width: 180px;
  height: 180px;
  margin: 20px auto 0px;
}

.prd_text_wrap_before,
.prd_text_wrap_after {
  display: block;
  width: 100%;
  font-size: 16px;
  margin: 5px 0px;
  overflow: hidden;
  transition-duration: .3s;
}

.prd_text_wrap_before {
  color: #666;
}

.prd_text_wrap_after {
  color: #fff;
  margin-top: 10px;
}

.text_down {
  transform: translateY(200%);
  opacity:0;
}

.text_down_hidden {
  transform: translateY(200%);
  opacity:0;
}
.prd_name_before,
.prd_name_after {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 22px;
}
.prd_name_before {
  color: #292929;
}
.prd_name_after {
  color: #fff;
}


.prd_kcal {
  display: block;
  width: 100%;
  font-size: 18px;
  color:#226140;
}

.prd_comment {
  display: block;
  width: 100%;
  color: #c5e698;
  transition-duration: .6s;
}


.prd_link_icon {
  display: block;
  width: 60px;
  height: 60px;
  color: #fff;
  z-index: 3;
  background-color: #ffc300;
  font-size: 26px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  position:absolute;
  bottom: 10%;
  left: 50%;
  transform:translate(-50%, 0%);
  box-shadow: #444 1px 1px 3px;
  transition-duration: .3s;
  visibility: visible;
}

.text_scale {
  visibility: hidden;
  scale: 0%;
  left: 45%;
  transform:translate(-50%,-200%);
}



.fa-magnifying-glass::before {
  position: absolute;
  top: 16px;
  left: 50%;
  transform:translate(-50%,0%);
}