
main {
    margin-top: 130px;
}

.title_wrap {
    width: 100%;
    height: 150px;
    line-height: 150px;
    text-align: center;
    font-size: 42px;
    color: #333;
}

.info_wrap {
    width: 800px;
    margin: 0 auto;
}

fieldset {
    display: block;
    width: 100%;
    margin: 0 auto;
}
table {
    display: block;
    margin: 0px;
}
legend {
    display: block;
    text-align: left;
    border-bottom: 1px solid #333;
    height: 60px;
    margin: 40px 0px 0px 0px;
    color: #333;
    font-size: 28px;
    font-weight: bold;
}
table {
    margin: 0;
}

tbody{
     display: block;
}

tr {
    display:flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

th {
    display: block;
    width: 150px;
    min-width: 40px;
    height: 60px;
    padding: 0px 15px;
    font-style: normal;
    font-size: 16px;
    color: #666;
}
label {
    display: inline;
    width: fit-content;
    position:relative;
}
th label::before {
    display: block;
    content: "*";
    width: fit-content;
    color: #226140;
    position:absolute;
    right: -10px;

}

td {
    display: block;
    width: 100%;
    height: 60px;
    padding: 0px 30px;
}

td>input,
td>select,
td>textarea {
    display: block;
    margin: 10px 0px 0px 10px; 
    width: 620px;
    height: 40px;
    border: 1px solid #ddd;
    padding-left: 10px;
}

#upload_btn {
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border-radius: 2px;
    background-color: #2e2e2e;
    margin: 100px auto;
    border: none;
}

.p_img_wrap {
    display: block;
    border: 1px solid #ddd;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    margin: 10px 0px 0px 10px;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 1;
}
.p_img_wrap span {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px; 
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #226140;
    border-radius: 4px;
    z-index: 5;
    transition-duration: .6s;
}
.p_img_wrap span:hover {
    color:#fff;
    background-color: #333;
}

#p_img {
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
    width: 100%;
    height: 100%;
    z-index: 3;
}

@media screen and (max-width:800px) {
main {
    margin-top: 100px;
}

.info_wrap {
    width: 100%;
    margin: 0 auto;
}

tr {
    width: 100%;
}
th {
    width: 30%;
    font-size: 14px;
}
td {
    width: 70%;
}

td>input,
td>select,
td>textarea {
    display: block;
    margin: 10px 0px 0px 10px; 
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    padding-left: 30px;
    font-size: 14px;
}

}