/* 메인 페이지 풀스크린 설정 */

html,body,#main {
    width:100%;
    height:100%;
    overflow:hidden;
}

::selection {
    background: none;
}

#main {
    border: 1px solid red;
}

#main_slide {
    position: relative;
    border: 1px solid blue;
    width:100%;
    height: 100%;
    top: -965px;
}

#menu,#franchise,#qna,#sns {
    width:100%;
    height: 100%;
    border: 3px solid black;
}

#menu {
    background-color: blue;
    z-index: 0;
}
#franchise {
    background-color: purple;
    z-index: 1;
}
#qna {
    background-color: aqua;
}
#sns {
    background-color: cadetblue;
}

